{
  "presets": [
    [
      "env",
      {
        "target": {
          "node": "current"
        },
        "modules": false,
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "transform-decorators-legacy"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
          "target": {
            "node": "current"
          },
          "useBuiltIns": "usage"
        }]
      ],
      "plugins": [
        "transform-decorators-legacy"
      ]
    }
  }
}
